div {
  width: fit-content;
  height: 300px;
  overflow: scroll;
  margin: 0px auto;
}

h3 {
  text-align: center;
  text-decoration: underline;
}
table {
  border: 1px solid gray;
}

td, tr {
  border: none;
}